# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.tmp_*

node_modules
dist
dist-ssr
dist_apk
*.local
.gradle
.gradle-build
.gradle-user

android/.gradle
android/build
android/app/build
android/.idea
android/local.properties
android/app/src/main/assets/public
android/keystore.properties
android/*.jks
android/*.keystore

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
